.hero_image{
    width: 100%;
}
.hero_quote {
    justify-content: center;
    align-self: center;
    background: #f3f3f3aa;
    padding: 10px;
    color: darkblue;
}
.hero_container {
    height: calc(100vh - 65px);
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    justify-content: center;
}

.jumbo_message{
    background: #c3cbff;
}

.text-decoration-none {
    text-decoration: none;
}
